body {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    background-image: url(background.png);
}

h1 {
    text-align:center;
}

.form {
    width:75%;
    margin-left:10%;
    margin-right:10%;
    border-color:rgb(35, 164, 58);
}

.product {
    padding: 20px;
    margin: 20px 20px 20px 20px;
    border: none;
}

.choose_product {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
}

.item_01 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 0 30px 0;
}

.memo {
    border: none;
}

.memo_01 {
    display: center;
    width: 100%;
    height: 100px;    
}

.submit {
    display: block;
    margin: 0 auto;
    font-size: 1em;
}
